  body{
    background-image: url(/Users/azizzakiryarov/Documents/workspace-web/node-project/scaredycat-game/src/pictures/background-game.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .game-time,
  .deck,
  .deckTotal{
    text-align: center;
    color: white;
  }
  .deck,
  .deckTotal{
    font-size: 20px;
    padding-left: 10px;
    padding-top: 10px;
  }
  .deckTotal{
    padding-left: 2px;
  }
  .game-time{
    font-size: 30px;
    padding-top: 5px;
    color: white;
  }
  .player1,
  .score1,
  .score1Summa{
    float: left;
    color: white;
  }
  .player1 {
    padding-left: 5px;
  }
  .score1{
    padding-left: 5px;
  }
  .score1Summa{
    padding-left: 5px;
  }
  .player2,
  .score2,
  .score2Summa{
    float: right;
    padding-right: 10px;
    color: white;
  }

  .table img{
    padding-top: 100px;
    padding-left: 250px;
    position: absolute;
    z-index: 1;
  }
  #card-bird,
  #card-cat,
  #card-scarecrow,
  #card-back{
    height: 200px;
    width: 120px;
    position: absolute;
  }
  #card-back{
    z-index: 3;
    left: 900px;
    top: 350px;
  }

  #card-bird{
    left: 600px;
    top: 350px;
    position: absolute;
    z-index: 3;
  }

  #card-cat{
    left: 450px;
    top: 350px;
    position: absolute;
    z-index: 3;
  }

  #card-scarecrow{
    left: 280px;
    top: 350px;
    position: absolute;
    z-index: 3;
  }
