  .game-time,
  .deck,
  .deckTotal{
    text-align: center;
  }
  .deck,
  .deckTotal{
    font-size: 20px;
    padding-left: 10px;
    padding-top: 10px;
  }
  .deckTotal{
    padding-left: 2px;
  }
  .game-time{
    font-size: 30px;
    padding-top: 5px;
  }
  .player1,
  .score1,
  .score1Summa{
    background-color: yellow;
    float: left;
  }
  .player1 {
    padding-left: 5px;
  }
  .score1{
    padding-left: 5px;
  }
  .score1Summa{
    padding-left: 5px;
  }
  .player2,
  .score2,
  .score2Summa{
    background-color: yellow;
    float: right;
    padding-right: 10px;
  }

  .table img{
    padding-top: 100px;
    padding-left: 250px;
    position: absolute;
    z-index: 1;
  }
  #card-bird,
  #card-cat,
  #card-scarecrow{
    height: 200px;
    width: 120px;
    position: absolute;
  }
  #card-back{
    height: 15%;
    width: 15%;
    position: absolute;
    z-index: 3;
    transform: rotate(90deg);
    left: 900px;
    top: 380px;
  }

  #card-bird{
    left: 200px;
    top: 330;
  }

  #card-cat{
    left: 400px;
    top: 380px;
  }


  .myList{
    left: 550px;
    top: 500px;
  }

  .scarecrow{
    padding-left: 5px;
    margin-top: 200px;
  }
