body{}
  .game-time,
  .deck,
  .deckTotal{
    text-align: center;
  }
  .deck,
  .deckTotal{
    font-size: 20px;
    padding-left: 10px;
    padding-top: 10px;
  }
  .deckTotal{
    padding-left: 2px;
  }
  .game-time{
    font-size: 30px;
    padding-top: 5px;
  }
  .player1,
  .score1,
  .score1Summa{
    background-color: yellow;
    float: left;
  }
  .player1 {
    padding-left: 5px;
  }
  .score1{
    padding-left: 5px;
  }
  .score1Summa{
    padding-left: 5px;
  }
  .player2,
  .score2,
  .score2Summa{
    background-color: yellow;
    float: right;
    padding-right: 10px;
  }
  .table img{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }

  .submiddle-element img{
    position: relative;
    left: 790px;
    top: 225px;
    height: 12%;
    width: 12%;
    z-index: 3;
  }

.scarecrow-card img{
position:relative;
left: 450px;
height: 13%;
width: 13%;
z-index: 3;

}
